@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #fcfcfc;
}

.navbar {
    background-color: #28fd2f;
    display: flex;
    justify-content: initial;
    align-items: center;
}

.dropdown-toggle, .dropdown-menu {
    margin-left: -100px;
}

.nav-elements ul {
  margin-top: 17px;
  display: flex;
  justify-content: initial;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 60px;
}

.nav-elements ul a {
  font-size: 16px;
  font-weight: 400;
  color: #2f234f;
  text-decoration: none;
}


